

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget input {
  text-align: center;
}

.enews-widget,
.enews-widget .widget-title {
  /*color: #fff;*/
}

.enews-widget input,
.enews-widget input:focus {
  /*border: 1px solid #333;*/
}

.enews-widget input {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-bottom: 16px;
  margin-right: 10px;
  padding: 12px 20px;
}

.sidebar .enews-widget input[type="submit"],
.footer-widgets .enews-widget input[type="submit"] {
  width: auto;
}

.enews-widget input[type="submit"] {
  background-color: #000;
  color: #fff;
  margin: 0;
  /*width: 100%;*/
}

.footer-widgets .enews-widget input[type="submit"] {
  background: #fa5738;
}

.enews-widget input:hover[type="submit"],
.enews-widget input:focus[type="submit"]  {
  background: $black;
  color: #fff;
}

.enews form + p {
  /*margin-top: 24px;*/
}

.front-page-2 form {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 20px 0px 5px;
}

.front-page-2 .enews-widget input {
  width: 30%;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
  display: none;
}
