
.site-header {
  background-color: #fff;
  left: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;

  &--static {
    position: static;
  }

  .wrap {
    max-width: none;
    padding: 1.6rem;
    transition: padding 0.2s ease-in-out;

    @include breakpoint($screen--m) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &.scroll .wrap {
    padding: .8rem 1.6rem;
  }
}

.featured-section .site-header {
  background-color: transparent;
  border:  none;
}

.site-header.scroll {
  box-shadow: #ececec 0 2px 1px;
}

.site-header.scroll .nav-secondary {
  display: none;
}

.admin-bar .site-header {
  top: 32px;
}

/* Title Area
--------------------------------------------- */

@include breakpoint($screen--s) {
  .title-area {
    margin-right: auto;
  }
}

.site-header.scroll .title-area {
  padding: 25px 0;
}

.site-title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  padding: 0;

  a {
    color: #fff;
    opacity: 0.9;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.front-page .site-header .site-title a,
.front-page .site-header .site-title a:hover {
  color: #fff;
}

.front-page .site-header.scroll .site-title a,
.front-page .site-header light .site-title a:hover {
  color: #fff;
}

.header-image .title-area,
.header-image .site-header.scroll .title-area {
  padding: 0;
}

.header-image .scroll .site-title > a {
  height: 56px;
}

.site-description {
  display: block;
  height: 0;
  margin: 0;
  text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  @include breakpoint($screen--m) {
    width: 620px;
  }

  @include breakpoint($screen--l){
    float: right;
    text-align: right;
    width: 800px;
  }
}

