
/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
  float: none;
  margin: 0 auto;

  @include breakpoint($screen--s) {
      max-width: 768px;
  }

  @include breakpoint($screen--m) {
      max-width: 960px;
  }

  @include breakpoint($screen--l) {
      max-width: 1140px;
  }

  @include breakpoint($screen--xl) {
    max-width: 1200px;
  }
}

.wrap {
  &--narrow {

      @include breakpoint($screen--m) {
        max-width: 768px;
      }

      @include breakpoint($screen--l) {
        max-width: 960px;
      }

      @include breakpoint($screen--xl) {
        max-width: 1050px;
      }
  }

  &--wide {
    @include breakpoint($screen--l) {
      max-width: 90%;
    }
  }

  &--full {
      max-width: none;
  }
}

.site-inner {
  background-color: #fff;
  clear: both;
  margin-top: 45px;
  position: relative;
  z-index: 9;
  word-wrap: break-word;
}

.front-page .site-container .site-inner {
  margin-top: 0;
  /*max-width: 100%;*/
  overflow: hidden;
  padding-top: 80px;
}

.aspire-landing .site-container .site-inner {
  margin-top: 100px;
}

.secondary-nav .site-inner {
  margin-top: 250px;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {

  @include breakpoint($screen--m) {
    width: 740px;
  }

  @include breakpoint($screen--l){
    width: 980px;
  }
}

.content-sidebar-sidebar .content-sidebar-wrap {
  @include breakpoint($screen--m) {
    float: left;
  }
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  @include breakpoint($screen--m) {
    float: right;
  }
}

/* ### Content */

.content {
  @include breakpoint($screen--m) {
    float: right;
    width: 700px;
  }
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  @include breakpoint($screen--m) {
    width: 620px;
    float: left;
  }

  @include breakpoint($screen--l) {
    width: 700px;
  }
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
  @include breakpoint($screen--m) {
    width: 400px;
  }

  @include breakpoint($screen--l) {
    width: 580px;
  }
}

.full-width-content .content {
  width: 100%;
}

/* ### Primary Sidebar */

.sidebar-primary {

  @include breakpoint($screen--m) {
    float: right;
    width: 300px;
  }

  @include breakpoint($screen--xl) {
    width: 360px;
  }
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
  @include breakpoint($screen--m) {
    float: left;
  }
}

/* ### Secondary Sidebar */

.sidebar-secondary {
  @include breakpoint($screen--m) {
    float: left;
    width: 180px;
  }
}

.content-sidebar-sidebar .sidebar-secondary {
  @include breakpoint($screen--m) {
    float: right;
  }
}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  margin: 0 0 40px;

  @include breakpoint($screen--m) {
    float: left;
    margin-bottom: 40px;
    margin-left: 2.564102564102564%;
  }
}

.one-half,
.three-sixths,
.two-fourths {
  @include breakpoint($screen--m) {
    width: 48.717948717948715%;
  }
}

.one-third,
.two-sixths {
  @include breakpoint($screen--m) {
    width: 31.623931623931625%;
  }
}

.four-sixths,
.two-thirds {
  @include breakpoint($screen--m) {
    width: 65.81196581196582%;
  }
}

.one-fourth {
  @include breakpoint($screen--m) {
    width: 23.076923076923077%;
  }
}

.three-fourths {
  @include breakpoint($screen--m) {
    width: 74.35897435897436%;
  }
}

.one-sixth {
  @include breakpoint($screen--m) {
    width: 14.52991452991453%;
  }
}

.five-sixths {
  @include breakpoint($screen--m) {
    width: 82.90598290598291%;
  }
}

.first {
  @include breakpoint($screen--m) {
    clear: both;
    margin-left: 0;
  }
}

