/*
 * Theme Name: NICABM Theme
 * Theme URI: https://nicabm.com
 * Author: Tim Jensen <tim@timjensen.us>
 * Description: Custom Genesis child theme built for NICABM.
 * Version: 0.3.7
 * License: GPL-3.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain: nicabm-theme
 * Domain Path: /develop/languages
 * Template: genesis
 * 
 * BitBucket Theme URI: https://bitbucket.org/engineersnicabm/nicabm-theme
 */

@charset "UTF-8";
/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */
/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: 0 0;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #333;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* ## Box Sizing
--------------------------------------------- */
html,
input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ## Float Clearing
--------------------------------------------- */
.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
  content: " ";
  display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table;
}

/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
--------------------------------------------- */
html {
  font-size: 50%;
  /* 8px browser default */
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 62.5%;
    /* 10px browser default */
  }
}

/* Chrome fix */
body > div {
  font-size: 2rem;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  margin: 0;
}

a,
button,
input:focus,
input[type=button],
input[type=reset],
input[type=submit],
textarea:focus,
.button,
.gallery img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a {
  color: #F9302F;
  cursor: pointer;
  text-decoration: none;
}
.entry-comments-link a {
  font-weight: 600;
}

a:hover,
a:focus {
  color: #D82928;
}
.sidebar a:hover,
.sidebar a:focus {
  color: #F9302F;
}

p {
  margin: 0 0 1.5rem 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  clear: both;
  margin: 1em 0;
}

b,
strong {
  font-weight: 600;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 40px;
}

/* ## Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.35;
  margin: 0 0 2rem 0;
}

h1 {
  font-size: 4.8rem;
  font-weight: 600;
}

h2 {
  font-size: 4.2rem;
  font-weight: 500;
}

h3 {
  font-size: 2.7rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-bottom: 2.3rem;
}

h4 {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

h5 {
  font-size: 1.9rem;
  font-weight: 400;
  margin-bottom: 1.8rem;
}

.nicabm-subheading {
  color: #003b79;
}

.image-section h4,
.solid-section h4 {
  font-size: 5.4rem;
  margin-bottom: 40px;
}

.home-mid-left h3,
.home-mid-left h4 {
  font-size: 3rem;
}

.home-mid-right h4 {
  font-size: 4.4rem;
  margin-bottom: 40px;
}

.home-mid-wide {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  z-index: 9;
}

.front-page-1 .image-section h4 {
  margin-bottom: 10px;
}

h6 {
  font-size: 1.6rem;
}

.bolder {
  font-weight: 700;
  text-transform: uppercase;
}

/* ## Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
}

.featured-content img,
.gallery img {
  width: auto;
}

/* ## Gallery
--------------------------------------------- */
.gallery {
  overflow: hidden;
}

.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
  width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.1111%;
}

.gallery img {
  border: 1px solid #ddd;
  height: auto;
  padding: 4px;
}

.gallery img:hover,
.gallery img:focus {
  border: 1px solid #999;
}

/* ## Forms
--------------------------------------------- */
input:not([type=submit]),
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  padding: 16px;
  width: 100%;
}

input[type=search] {
  background: url("images/search-icon.svg") no-repeat 10px center;
  color: #444;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
  padding-left: 40px;
  text-transform: uppercase;
}

input:focus,
textarea:focus {
  border: 2px solid #dadada;
  outline: none;
}

input[type=checkbox],
input[type=image],
input[type=radio] {
  width: auto;
}

::-moz-placeholder {
  color: #333;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #333;
  font-weight: 300;
}

button,
input[type=button],
input[type=reset],
input[type=submit],
.button {
  background-color: #F9302F;
  border: 0.5rem solid #F9302F;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  margin: 1rem 0;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

button:hover,
input:hover[type=button],
input:hover[type=reset],
input:hover[type=submit],
.button:hover,
button:focus,
input:focus[type=button],
input:focus[type=reset],
input:focus[type=submit],
.button:focus {
  background-color: transparent;
  color: #F9302F;
  text-decoration: none;
}

.site-inner .button:hover,
.entry-content .button:hover,
.entry-content .button:focus {
  background-color: transparent;
  color: #F9302F;
}

.footer-widgets button,
.footer-widgets input[type=button],
.footer-widgets input[type=reset],
.footer-widgets input[type=submit],
.footer-widgets .button {
  background-color: #F9302F;
  color: #fff;
}

.footer-widgets button:hover,
.footer-widgets input:hover[type=button],
.footer-widgets input:hover[type=reset],
.footer-widgets input:hover[type=submit],
.footer-widgets .button:hover,
.footer-widgets button:focus,
.footer-widgets input:focus[type=button],
.footer-widgets input:focus[type=reset],
.footer-widgets input:focus[type=submit],
.footer-widgets .button:focus {
  background-color: #fff;
  color: #333;
}

.button {
  display: inline-block;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button {
  display: none;
}

.site-inner .gform_wrapper .gform_footer input.button,
.site-inner .gform_wrapper .gform_footer input[type=submit] {
  font-size: 16px;
}

.site-inner .gform_wrapper input[type=text],
.site-inner .gform_wrapper input[type=url],
.site-inner .gform_wrapper input[type=email],
.site-inner .gform_wrapper input[type=tel],
.site-inner .gform_wrapper input[type=number],
.site-inner .gform_wrapper input[type=password] {
  padding: 20px;
}

.site-inner .gform_wrapper ul li.gfield {
  margin-bottom: 20px;
}

/* Buttons and Colors */
a.button.medium {
  font-size: 16px;
  font-weight: 300;
  padding: 12px 60px;
}

a.button.large {
  font-size: 18px;
  font-weight: 300;
  padding: 15px 40px;
}

a.button.clear-button {
  background: none;
  border: 1px solid #fff;
}

a.button.clear-button:hover {
  border: 1px solid #F9302F;
}

a.button.black {
  background: #000;
}

a.button.white {
  background: #fff;
  color: #333;
}

a.button.white-clear {
  background: none;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* ## Tables
--------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.25;
  margin-bottom: 40px;
  width: 100%;
}

tbody {
  border-bottom: 1px solid #ddd;
}

td,
th {
  text-align: left;
}

td {
  border-top: 1px solid #ddd;
  padding: 6px 0;
}

th {
  font-weight: 300;
}

/* ## Screen Reader Text
--------------------------------------------- */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type=submit]:focus,
.widget_search input[type=submit]:focus {
  clip: auto !important;
  height: auto;
  width: auto;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  color: #333;
  background: #fff;
  z-index: 100000;
  /* Above WP toolbar. */
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

.more-link {
  font-weight: 600;
  position: relative;
}

/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */
/* ## Site Containers
--------------------------------------------- */
.site-inner,
.wrap {
  float: none;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .site-inner,
.wrap {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1024px) {
  .site-inner,
.wrap {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .site-inner,
.wrap {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1440px) {
  .site-inner,
.wrap {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1024px) {
  .wrap--narrow {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1280px) {
  .wrap--narrow {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1440px) {
  .wrap--narrow {
    max-width: 1050px;
  }
}
@media only screen and (min-width: 1280px) {
  .wrap--wide {
    max-width: 90%;
  }
}
.wrap--full {
  max-width: none;
}

.site-inner {
  background-color: #fff;
  clear: both;
  margin-top: 45px;
  position: relative;
  z-index: 9;
  word-wrap: break-word;
}

.front-page .site-container .site-inner {
  margin-top: 0;
  /*max-width: 100%;*/
  overflow: hidden;
  padding-top: 80px;
}

.aspire-landing .site-container .site-inner {
  margin-top: 100px;
}

.secondary-nav .site-inner {
  margin-top: 250px;
}

/* ## Column Widths and Positions
--------------------------------------------- */
/* ### Wrapping div for .content and .sidebar-primary */
@media only screen and (min-width: 1024px) {
  .content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
    width: 740px;
  }
}
@media only screen and (min-width: 1280px) {
  .content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
    width: 980px;
  }
}

@media only screen and (min-width: 1024px) {
  .content-sidebar-sidebar .content-sidebar-wrap {
    float: left;
  }
}

@media only screen and (min-width: 1024px) {
  .sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
    float: right;
  }
}

/* ### Content */
@media only screen and (min-width: 1024px) {
  .content {
    float: right;
    width: 700px;
  }
}

@media only screen and (min-width: 1024px) {
  .content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
    width: 620px;
    float: left;
  }
}
@media only screen and (min-width: 1280px) {
  .content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
    width: 700px;
  }
}

@media only screen and (min-width: 1024px) {
  .content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
    width: 400px;
  }
}
@media only screen and (min-width: 1280px) {
  .content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
    width: 580px;
  }
}

.full-width-content .content {
  width: 100%;
}

/* ### Primary Sidebar */
@media only screen and (min-width: 1024px) {
  .sidebar-primary {
    float: right;
    width: 300px;
  }
}
@media only screen and (min-width: 1440px) {
  .sidebar-primary {
    width: 360px;
  }
}

@media only screen and (min-width: 1024px) {
  .sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
    float: left;
  }
}

/* ### Secondary Sidebar */
@media only screen and (min-width: 1024px) {
  .sidebar-secondary {
    float: left;
    width: 180px;
  }
}

@media only screen and (min-width: 1024px) {
  .content-sidebar-sidebar .sidebar-secondary {
    float: right;
  }
}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  margin: 0 0 40px;
}
@media only screen and (min-width: 1024px) {
  .five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
    float: left;
    margin-bottom: 40px;
    margin-left: 2.5641025641%;
  }
}

@media only screen and (min-width: 1024px) {
  .one-half,
.three-sixths,
.two-fourths {
    width: 48.7179487179%;
  }
}

@media only screen and (min-width: 1024px) {
  .one-third,
.two-sixths {
    width: 31.6239316239%;
  }
}

@media only screen and (min-width: 1024px) {
  .four-sixths,
.two-thirds {
    width: 65.811965812%;
  }
}

@media only screen and (min-width: 1024px) {
  .one-fourth {
    width: 23.0769230769%;
  }
}

@media only screen and (min-width: 1024px) {
  .three-fourths {
    width: 74.358974359%;
  }
}

@media only screen and (min-width: 1024px) {
  .one-sixth {
    width: 14.5299145299%;
  }
}

@media only screen and (min-width: 1024px) {
  .five-sixths {
    width: 82.905982906%;
  }
}

@media only screen and (min-width: 1024px) {
  .first {
    clear: both;
    margin-left: 0;
  }
}

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
--------------------------------------------- */
.avatar {
  float: left;
}

.author-box .avatar {
  border-radius: 99%;
  -moz-border-radius: 99%;
  -ms-border-radius: 99%;
  -webkit-border-radius: 99%;
  height: 100px;
  width: 100px;
}

.entry-comments .avatar {
  height: 70px;
  width: 70px;
}

.alignleft .avatar,
.author-box .avatar {
  margin-right: 24px;
}

.alignright .avatar {
  margin-left: 24px;
}

.comment .avatar {
  border-radius: 99%;
  margin: 0 16px 0 0;
}

/* ## Genesis
--------------------------------------------- */
.breadcrumb {
  margin-bottom: 20px;
}

.archive-description,
.author-box {
  background-color: #222;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 40px;
  padding: 40px;
}

.author-box-title {
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */
.search-form {
  overflow: hidden;
}

.site-header .search-form {
  float: right;
  margin-top: 12px;
}

.entry-content .search-form,
.site-header .search-form {
  width: 50%;
}

.genesis-nav-menu .search input[type=submit],
.widget_search input[type=submit] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ## Titles
--------------------------------------------- */
.archive-title {
  font-size: 2rem;
}

.entry-title {
  font-size: 3.6rem;
  margin-bottom: 10px;
}

.entry-title a,
.sidebar .widget-title a {
  color: #333;
  font-size: 3.2rem;
  font-weight: 600;
  text-decoration: none;
}

.entry-title a:hover,
.entry-title a:focus {
  color: #F9302F;
}

.sidebar .widget-title,
.sidebar h4 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.footer-widgets .widget-title {
  color: #fff;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 1.5;
  text-transform: uppercase;
}

/* ## WordPress
--------------------------------------------- */
a.aligncenter img {
  display: block;
  margin: 0 auto;
}

a.alignnone {
  display: inline-block;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
  margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px;
}

.wp-caption-text {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

.entry-content p.wp-caption-text {
  margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 28px;
}

/* # Widgets
---------------------------------------------------------------------------------------------------- */
.widget {
  word-wrap: break-word;
}

.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px;
}

.widget li li {
  border: 0;
  margin: 0 0 0 30px;
  padding: 0;
}

.widget_calendar table {
  width: 100%;
}

.widget_calendar td,
.widget_calendar th {
  text-align: center;
}

/* ## Featured Content
--------------------------------------------- */
.featured-content .entry {
  margin-bottom: 20px;
  padding: 0 0 24px;
}

.featured-content .entry-title {
  font-size: 20px;
  font-size: 2rem;
}

.home .featured-content .entry-title {
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.featuredpage .entry-title {
  font-size: 36px;
  font-size: 3.6rem;
}

.single .featured-image {
  margin-bottom: 40px;
}

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Genesis eNews Extended
--------------------------------------------- */
.enews-widget,
.enews-widget input {
  text-align: center;
}

.enews-widget,
.enews-widget .widget-title {
  /*color: #fff;*/
}

.enews-widget input,
.enews-widget input:focus {
  /*border: 1px solid #333;*/
}

.enews-widget input {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-bottom: 16px;
  margin-right: 10px;
  padding: 12px 20px;
}

.sidebar .enews-widget input[type=submit],
.footer-widgets .enews-widget input[type=submit] {
  width: auto;
}

.enews-widget input[type=submit] {
  background-color: #000;
  color: #fff;
  margin: 0;
  /*width: 100%;*/
}

.footer-widgets .enews-widget input[type=submit] {
  background: #F9302F;
}

.enews-widget input:hover[type=submit],
.enews-widget input:focus[type=submit] {
  background: #333;
  color: #fff;
}

.enews form + p {
  /*margin-top: 24px;*/
}

.front-page-2 form {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 20px 0px 5px;
}

.front-page-2 .enews-widget input {
  width: 30%;
}

/* ## Jetpack
--------------------------------------------- */
#wpstats {
  display: none;
}

/* ## Featherlight
--------------------------------------------- */
.featherlight .featherlight-close-icon {
  margin: 0;
}

/* # Skip Links
---------------------------------------------------------------------------------------------------- */
.genesis-skip-link {
  margin: 0;
}

.genesis-skip-link li {
  height: 0;
  width: 0;
  list-style: none;
}

/* Display outline on focus */
:focus {
  color: #333;
  outline: #ccc solid 1px;
}

/* # Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
  background-color: #fff;
  left: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}
.site-header--static {
  position: static;
}
.site-header .wrap {
  max-width: none;
  padding: 1.6rem;
  transition: padding 0.2s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  .site-header .wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
.site-header.scroll .wrap {
  padding: 0.8rem 1.6rem;
}

.featured-section .site-header {
  background-color: transparent;
  border: none;
}

.site-header.scroll {
  box-shadow: #ececec 0 2px 1px;
}

.site-header.scroll .nav-secondary {
  display: none;
}

.admin-bar .site-header {
  top: 32px;
}

/* Title Area
--------------------------------------------- */
@media only screen and (min-width: 768px) {
  .title-area {
    margin-right: auto;
  }
}
.site-header.scroll .title-area {
  padding: 25px 0;
}

.site-title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.site-title a {
  color: #fff;
  opacity: 0.9;
  text-decoration: none;
}
.site-title a:hover, .site-title a:focus {
  opacity: 0.7;
}

.front-page .site-header .site-title a,
.front-page .site-header .site-title a:hover {
  color: #fff;
}

.front-page .site-header.scroll .site-title a,
.front-page .site-header light .site-title a:hover {
  color: #fff;
}

.header-image .title-area,
.header-image .site-header.scroll .title-area {
  padding: 0;
}

.header-image .scroll .site-title > a {
  height: 56px;
}

.site-description {
  display: block;
  height: 0;
  margin: 0;
  text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */
@media only screen and (min-width: 1024px) {
  .site-header .widget-area {
    width: 620px;
  }
}
@media only screen and (min-width: 1280px) {
  .site-header .widget-area {
    float: right;
    text-align: right;
    width: 800px;
  }
}

/*
Site Navigation
---------------------------------------------------------------------------------------------------- */
.genesis-nav-menu {
  line-height: 1;
}

.genesis-nav-menu .menu-item {
  display: inline-block;
  text-align: left;
}

.genesis-nav-menu li li {
  margin-left: 0;
}

.genesis-nav-menu a {
  color: #444;
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu li.current-menu-item > a {
  color: #F9302F;
}

.site-header.scroll .genesis-nav-menu > .last > a {
  padding-right: 0;
}

.genesis-nav-menu li.highlight a:hover::before {
  color: #fff;
}

.genesis-nav-menu li.highlight > a {
  font-weight: 800;
}

.genesis-nav-menu > .menu-item > a {
  text-transform: uppercase;
}

.genesis-nav-menu.responsive-menu .menu-item--button a,
.menu-item--button a {
  background: #F9302F;
  border-radius: 0.3rem;
  border: 3px solid #F9302F;
  color: #fff;
  display: inline-block;
  padding: 12px 15px;
  text-decoration: none;
}
.genesis-nav-menu.responsive-menu .menu-item--button a:hover, .genesis-nav-menu.responsive-menu .menu-item--button a:focus,
.menu-item--button a:hover,
.menu-item--button a:focus {
  background: #fff;
  border: 3px solid #F9302F;
  color: #F9302F;
}

.front-page .site-header.scroll .genesis-nav-menu > .menu-item > a {
  /*color: #fff;*/
}

.genesis-nav-menu .sub-menu {
  left: -9999px;
  letter-spacing: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 200px;
  z-index: 99;
}

.genesis-nav-menu .sub-menu a {
  background-color: #222;
  font-size: 12px;
  padding: 20px;
  position: relative;
  width: 200px;
  word-wrap: break-word;
}

.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu li.current-menu-item > a {
  background-color: #F9302F;
  color: #fff;
}

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -53px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
  position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}

.genesis-nav-menu > .first > a {
  padding-left: 0;
}

.genesis-nav-menu > .last > a {
  padding-right: 0;
}

.genesis-nav-menu > .right {
  color: #fff;
  display: inline-block;
  list-style-type: none;
  padding: 27px 20px;
  text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0;
}

.genesis-nav-menu > .rss > a {
  margin-left: 48px;
}

.genesis-nav-menu > .search {
  display: block;
  margin: 0 auto;
  padding: 0 20px 20px;
  width: 50%;
}

/* Primary Navigation
--------------------------------------------- */
.nav-primary {
  text-align: center;
}

.nav-primary .genesis-nav-menu {
  float: right;
}

/* ## Secondary Navigation
--------------------------------------------- */
.nav-secondary {
  border-bottom: 1px solid #444;
}

/* Footer Navigation
--------------------------------------------- */
.nav-footer .genesis-nav-menu {
  padding: 20px 0;
}

.nav-footer .genesis-nav-menu a {
  border: none;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0 20px;
  padding: 0;
}

/* Responsive Menu
--------------------------------------------- */
.responsive-menu-icon {
  cursor: pointer;
  display: none;
  margin-bottom: 10px;
  text-align: center;
}

.responsive-menu-icon::before {
  color: #aaa;
  content: "";
  font: normal 5rem/1 "dashicons";
  margin: 0 auto;
}

.nav-secondary .responsive-menu-icon {
  margin: 10px auto 0;
}

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* Front Page
--------------------------------------------- */
.image-section,
.solid-section {
  clear: both;
  text-align: center;
  width: 100%;
}

.image-section {
  display: table;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.image-section .widget-area {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.image-section,
.image-section a {
  color: #fff;
}

.image-section a:hover,
.image-section .featured-content .entry-title a:hover {
  color: #F9302F;
}

.image-section a.button:hover {
  background-color: #fff;
  color: #333;
}

.solid-section {
  background-color: #fff;
}

.solid-section a.button:hover {
  background-color: #000;
}

.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5,
.front-page-6,
.front-page-7,
.front-page-8,
.front-page-9,
.front-page-10,
.front-page-11,
.front-page-12,
.front-page-13 {
  /*margin-top: -54px;*/
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  z-index: 9;
}

.front-page-1,
.front-page-4,
.front-page-5,
.front-page-7,
.front-page-9,
.front-page-12 {
  /*background-attachment: fixed;*/
  background-position: 50% 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.front-page-1 {
  margin-top: -104px;
  max-height: 740px;
  position: relative;
}

.front-page-1 {
  height: 100vh;
}

.front-page-1 .image-section {
  /*padding-top: 200px;*/
}

.front-page-1 p {
  font-size: 24px;
  font-size: 2.4rem;
  letter-spacing: 1px;
}

.front-page-2 .image-section {
  background: #F9302F;
  padding: 60px 0 20px;
}

.front-page-2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: -160px;
  position: relative;
  width: 1000px;
}

.front-page-2 h4 {
  font-size: 34px;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.front-page-2 .wrap {
  padding: 0 5%;
}

.front-page-2 h3 {
  line-height: 1.5;
  margin-bottom: 20px;
}

.front-page-2 p {
  margin-bottom: 15px;
}

.front-page-2 .flexible-widgets {
  padding: 0;
}

.front-page-3 .solid-section h4 {
  margin-bottom: 20px;
}

.front-page-4 {
  background-color: #191a1c;
}

.front-page-4 img {
  margin-bottom: 20px;
}

.home-mid {
  background: #f3f3f3;
}

.home-mid-inner {
  margin: 0 auto;
  max-width: 1200px;
}

.home-mid-left {
  float: left;
  margin-top: 200px;
  padding: 0;
  width: 25%;
}

.home-mid-right {
  background: #fff;
  float: right;
  margin-top: 120px;
  padding: 70px;
  width: 70%;
}

.front-page-9 {
  background-color: #F9302F;
}

.front-page-12 {
  background-color: #f3f3f3;
}

.front-page-12 .image-section {
  color: #333;
}

.front-page-12 .image-section a {
  color: #F9302F;
}

.secondary-nav .front-page-1 .image-section {
  padding-top: 150px;
}

.bottom-image {
  margin-bottom: -160px;
  margin-top: 50px;
}

.bottom-image img {
  margin-bottom: -10px;
}

.front-page .field-wrap:last-child {
  margin-bottom: 0;
}

.fp-left {
  float: left;
  display: inline-block;
  margin-top: 100px;
  padding: 0;
  position: relative;
  text-align: left;
  width: 49%;
  vertical-align: top;
}

.fp-right {
  display: inline-block;
  margin: 0;
  max-width: none;
  padding: 0;
  position: relative;
  text-align: left;
  width: 40%;
  vertical-align: top;
}

.fp-right img {
  max-width: none;
}

.fp-left2 {
  display: inline-block;
  margin: 0;
  max-width: none;
  min-height: 700px;
  padding: 0;
  position: relative;
  text-align: left;
  width: 40%;
  vertical-align: top;
}

.fp-right2 {
  float: right;
  display: inline-block;
  margin-top: 100px;
  padding: 0;
  position: relative;
  text-align: left;
  width: 49%;
  vertical-align: top;
}

.fp-left2 img {
  max-width: none;
  position: absolute;
  right: 0;
}

.fp-left ul,
.fp-right2 ul {
  margin-bottom: 40px;
}

.fp-left li,
.fp-right2 li {
  list-style-type: disc;
  margin-left: 24px;
  margin-bottom: 5px;
}

/* Dashicons
--------------------------------------------- */
.front-page .dashicons {
  font-size: 40px;
  height: 40px;
  margin-bottom: 20px;
  width: 40px;
}

/* Flexible Widgets
--------------------------------------------- */
.flexible-widgets {
  padding: 140px 0 120px;
}

.flexible-widgets .widget {
  margin: 0 0 40px;
}

.flexible-widgets.widget-full .widget,
.flexible-widgets.widget-halves.uneven .widget:last-of-type {
  background: none;
  margin-left: 0;
  padding: 0;
  width: 100%;
}

.widget-area.flexible-widgets.widget-half .widget,
.flexible-widgets.widget-halves .widget {
  width: 48.7179487179%;
}

.flexible-widgets.widget-thirds .widget {
  width: 31.6239316239%;
}

.flexible-widgets.widget-fourths .widget {
  width: 23.0769230769%;
}

.flexible-widgets.widget-halves .widget:nth-child(even),
.flexible-widgets.widget-thirds .widget:nth-child(3n+2),
.flexible-widgets.widget-fourths .widget:nth-child(4n+2) {
  clear: left;
  margin-left: 0;
}

.flexible-widgets.widget-halves h2,
.flexible-widgets.widget-thirds h2,
.flexible-widgets.widget-fourths h2 {
  font-size: 36px;
}

/* ## Entries
--------------------------------------------- */
.entry {
  margin-bottom: 5rem;
  padding: 0;
}
@media only screen and (min-width: 1024px) {
  .entry {
    margin-bottom: 8rem;
  }
}

.content .entry {
  /*background-color: #fff;*/
}

.blog .entry-content {
  font-size: 1.6rem;
}

.entry-content ol,
.entry-content ul {
  margin-bottom: 0;
  margin-left: 20px;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ul > li {
  list-style-type: disc;
  margin-bottom: 0.8rem;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.content ol ol,
.content ul ul {
  margin-bottom: 0;
}

.entry-content code {
  background-color: #333;
  color: #ddd;
}

/* ## Entry Meta
--------------------------------------------- */
p.entry-meta {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.entry-header .entry-meta {
  margin-bottom: 1.4rem;
}
.single .entry-header .entry-meta {
  margin-bottom: 3.5rem;
}

.entry-footer .entry-meta {
  border-top: 2px solid #f5f5f5;
  padding-top: 24px;
}

.entry-categories,
.entry-tags {
  display: block;
  font-style: italic;
}

/* ## After Entry
--------------------------------------------- */
.after-entry {
  margin-bottom: 40px;
}

.after-entry h3 {
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* ## Pagination
--------------------------------------------- */
.pagination {
  clear: both;
  margin: 40px 0;
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination li {
  display: inline;
}

.archive-pagination li a {
  background-color: #999999;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  text-decoration: none;
}

.archive-pagination li a:hover,
.archive-pagination li a:focus,
.archive-pagination .active a {
  background-color: #F9302F;
  text-decoration: none;
}

/* ## Comments
--------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
  background-color: #fff;
  margin-bottom: 40px;
}

.entry-comments {
  padding: 40px 0;
}

.comment-header {
  font-size: 2rem;
  font-weight: 600;
}

.comment-content {
  clear: both;
  word-wrap: break-word;
}

.comment-list li {
  border-bottom: 2px solid #e5e5e5;
  font-size: 1.8rem;
  margin: 2rem auto;
  padding: 2rem 1rem;
}
.comment-list li:last-of-type {
  border-bottom: none;
}
.comment-list li li {
  border-bottom: none;
  margin-left: 6rem;
  margin-right: -1rem;
}

.comment-respond input:not([type=submit]),
.comment-respond textarea {
  background-color: #F0F0F0;
}
.comment-respond input:not([type=submit]):not(:focus),
.comment-respond textarea:not(:focus) {
  border-color: #F0F0F0;
}
.comment-respond input[type=submit] {
  border-width: 0.3rem;
  font-size: 1.5rem;
}
.comment-respond ::placeholder {
  color: #545454;
}
.comment-respond label {
  display: block;
  margin-right: 12px;
}

.entry-comments .comment-author {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2.5rem;
}
.entry-comments .comment-author span.says {
  margin-left: 0.6rem;
}

.entry-pings .reply {
  display: none;
}

.form-allowed-tags {
  background-color: #f5f5f5;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 24px;
}

/* Flexbox Grid
---------------------------------------------------------------------------------------------------- */
.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.center-xs > * > * {
  text-align: initial;
}

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 460px) {
  .container {
    width: 49rem;
  }

  .col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-offset-0,
.col-sm-offset-1,
.col-sm-offset-2,
.col-sm-offset-3,
.col-sm-offset-4,
.col-sm-offset-5,
.col-sm-offset-6,
.col-sm-offset-7,
.col-sm-offset-8,
.col-sm-offset-9,
.col-sm-offset-10,
.col-sm-offset-11,
.col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .center-sm > * > * {
    text-align: initial;
  }

  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }

  .col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-0,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .center-md > * > * {
    text-align: initial;
  }

  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 76rem;
  }

  .col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-offset-0,
.col-lg-offset-1,
.col-lg-offset-2,
.col-lg-offset-3,
.col-lg-offset-4,
.col-lg-offset-5,
.col-lg-offset-6,
.col-lg-offset-7,
.col-lg-offset-8,
.col-lg-offset-9,
.col-lg-offset-10,
.col-lg-offset-11,
.col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .center-lg > * > * {
    text-align: initial;
  }

  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
/* Sales Page
---------------------------------------------------------------------------------------------------- */
.nicabm_program-template .site-inner,
.nicabm_offer-template .site-inner,
.nicabm_confirm-template .site-inner {
  margin-top: 0;
  max-width: none;
  padding: 0;
}
.nicabm_program-template .site-inner a:not(.button),
.nicabm_offer-template .site-inner a:not(.button),
.nicabm_confirm-template .site-inner a:not(.button) {
  color: #003b79;
  text-decoration: underline;
}
.nicabm_program-template .site-inner a:hover,
.nicabm_program-template .site-inner a:focus,
.nicabm_offer-template .site-inner a:hover,
.nicabm_offer-template .site-inner a:focus,
.nicabm_confirm-template .site-inner a:hover,
.nicabm_confirm-template .site-inner a:focus {
  color: #F9302F;
  text-decoration: none;
}
.nicabm_program-template .content img,
.nicabm_offer-template .content img,
.nicabm_confirm-template .content img {
  border-radius: 5%;
}
.nicabm_program-template button,
.nicabm_program-template input[type=button],
.nicabm_program-template input[type=reset],
.nicabm_program-template input[type=submit],
.nicabm_program-template .button,
.nicabm_offer-template button,
.nicabm_offer-template input[type=button],
.nicabm_offer-template input[type=reset],
.nicabm_offer-template input[type=submit],
.nicabm_offer-template .button,
.nicabm_confirm-template button,
.nicabm_confirm-template input[type=button],
.nicabm_confirm-template input[type=reset],
.nicabm_confirm-template input[type=submit],
.nicabm_confirm-template .button {
  border-radius: 0.3rem;
  font-size: 2.2rem;
  margin: 2rem 0;
  padding: 2rem 7rem;
}

.sales-page__section {
  background-size: cover;
  background-position: center center;
}
.sales-page__section--padding-normal {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.sales-page__section--padding-less {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.sales-page__section--padding-more {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.sales-page__section--image-spacer {
  background-attachment: fixed;
  height: 300px;
}

.row__content--padding-normal {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.row__content--padding-less {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.row__content--padding-more {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.row__content--padding-none {
  padding-top: 0;
  padding-bottom: 0;
}

.nicabm-instructors--scroll {
  max-height: 430px;
  overflow-y: scroll;
}
.nicabm-instructors__single {
  margin-bottom: 2rem;
}
.nicabm-instructors__profile {
  margin-bottom: 1.2rem;
}
.nicabm-instructors__name {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 1.35;
  margin: 0 0 0.3rem 0;
  text-transform: uppercase;
}
.nicabm-instructors__bio {
  font-size: 1.5rem;
  line-height: 1.45;
}

.nicabm-testimonials {
  margin-bottom: 3rem;
}

.nicabm-table__row:nth-child(odd) {
  background-color: #F0F0F0;
}
.nicabm-table__row:nth-child(even) {
  background-color: #e0e0e0;
}
.nicabm-table__row td {
  border: 4px solid #ffffff;
  font-size: 2.2rem;
  height: 90px;
  padding: 1rem;
}
.nicabm-table__mark {
  display: none;
  width: 8.5rem;
}
@media only screen and (min-width: 768px) {
  .nicabm-table__mark {
    display: table-cell;
  }
  .nicabm-table__mark img {
    display: block;
    margin: 0 auto;
    width: 40%;
  }
}

.learn-today-use-tomorrow__subheading {
  margin-bottom: 5rem;
}
.learn-today-use-tomorrow__text-block {
  font-size: 2.7rem;
  line-height: 1.45;
  margin: 4rem auto;
  text-align: center;
}
@media only screen and (min-width: 460px) {
  .learn-today-use-tomorrow__image {
    width: 95%;
  }
  .learn-today-use-tomorrow__image--right {
    float: right;
  }
  .learn-today-use-tomorrow__image--left {
    float: left;
  }
}

.course-row {
  margin-bottom: 45px;
}

/* Offer Page
---------------------------------------------------------------------------------------------------- */
.offer-page__site-header-row {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
}
.offer-page__intro-text {
  color: #fff;
}
.offer-page__page-heading {
  color: #fbd23a;
  text-align: center;
}

/* # Sidebars
---------------------------------------------------------------------------------------------------- */
.sidebar {
  color: #444;
  font-size: 1.6rem;
}
.sidebar a:not(:hover):not(:focus):not(.button) {
  color: #333;
}

.sidebar li {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.sidebar p {
  margin-bottom: 12px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
  margin-bottom: 0;
}

.sidebar .widget {
  background-color: #fff;
  margin-bottom: 40px;
}

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgets {
  background-color: #424242;
  clear: both;
  font-size: 18px;
  /*text-align: center;*/
}

.footer-widgets .wrap {
  padding-bottom: 60px;
  padding-top: 100px;
}

.footer-widgets,
.footer-widgets a {
  color: #fff;
}

.footer-widgets a {
  font-weight: 400;
}

.footer-widgets input {
  border: 1px solid #333;
}

.footer-widgets a.button,
.footer-widgets a:hover,
.footer-widgets a:focus {
  color: #fff;
}

.footer-widgets li {
  border-bottom: 1px dotted #666;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.footer-widgets .widget {
  margin-bottom: 40px;
}

.footer-widgets p:last-child {
  margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2 {
  margin: 0 3.3% 0 0;
  width: 30.555555555%;
}

.footer-widgets-3 {
  width: 30.555555555%;
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;
}

.footer-widgets-3 {
  float: right;
}

/* # Plans
---------------------------------------------------------------------------------------------------- */
.plans {
  margin-top: 60px;
}

.plan {
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
  float: left;
  padding: 60px 20px;
  width: 25%;
}

.popular {
  background: #F9302F;
  border: none;
  color: #fff;
  position: relative;
  transform: scale(1.06);
  -webkit-transform: scale(1.06);
}

.plan h2 {
  font-size: 62px;
  font-weight: 300;
}

.popular h2 {
  color: #fff;
}

.plan .price {
  font-size: 90px;
  font-weight: 400;
  margin: 0 0 20px;
}

.plan sup {
  font-size: 30px;
  top: -1.36em;
}

.plan .monthly {
  font-size: 18px;
}

.plan small {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
}

.plan-list {
  margin: 0 0 20px;
  overflow: hidden;
}

.plan-list li,
.entry-content .plan-list li {
  list-style: none;
  margin: 0 0 20px;
}

/*
Portfolio
---------------------------------------------------------------------------------------------------- */
.entry-portfolio {
  margin: 0 0 40px;
  padding: 0;
}

.content .portfolio {
  background: none;
  float: left;
  margin: 0 2% 40px 0 !important;
  overflow: hidden;
  padding: 0;
  width: 30.555555555%;
}

.portfolio .post-image {
  border: none;
  margin: 0 0 10px;
  padding: 0;
}

.portfolio .post-image:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.6;
}

.portfolio .gallery img:hover,
.portfolio .gallery img:focus {
  border: none;
}

.portfolio .post .entry-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px 0;
}

.portfolio .entry-title a {
  margin: 0;
  text-decoration: none;
}

.portfolio .entry-meta {
  display: none;
}

.portfolio .more-link {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #222;
  color: #fff;
  display: block;
  padding: 8px 12px;
  margin: 20px 0 0;
  text-align: center;
  text-decoration: none;
  max-width: 150px;
}

.content .portfolio .more-link:hover {
  background: #F9302F;
  color: #fff;
}

.portfolio-clear {
  clear: none;
}

.portfolio-clear-2 {
  clear: both;
}

/* # Miscellaneous
---------------------------------------------------------------------------------------------------- */
.uppercase {
  text-transform: uppercase;
}

.tiny {
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.tiny2 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
}

small {
  letter-spacing: 1px;
}

.italic {
  font-style: italic;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.author-circle {
  border: 4px solid #fff;
  border-radius: 50px;
}

.quote {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #888;
  font-size: 16px;
  padding: 20px 40px;
}

.quote-arrow {
  background-image: url(images/quote-arrow.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  bottom: 1px;
  display: block;
  margin: 0 0 10px;
  padding: 14px 0 0;
  position: relative;
}

.quote-black {
  background: #121212;
  border-radius: 6px;
  border: 1px solid #353535;
  color: #fff;
  font-size: 16px;
  padding: 20px 40px;
}

.quote-arrow-black {
  background-image: url(images/quote-arrow-black.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  bottom: 1px;
  display: block;
  margin: 0 0 10px;
  padding: 14px 0 0;
  position: relative;
}

.quote-black a {
  color: #aaa;
}

.quote-black p {
  color: #fff;
}

.left-content {
  float: left;
  padding: 0 20px 0 0;
  text-align: left;
}

.left-content .fa,
.right-content .fa {
  padding: 40px 0;
}

.right-content {
  overflow: hidden;
  text-align: left;
}

.left-content,
.right-content h3 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.leftrow {
  background: #fff;
  color: #333;
  float: left;
  min-height: 320px;
  padding: 70px 30px 40px;
  text-align: left;
  width: 60%;
}

.rightrow {
  background: rgba(23, 148, 255, 0.8);
  color: #fff;
  float: right;
  min-height: 320px;
  padding: 70px 30px 40px;
  text-align: center;
  width: 40%;
}

.features {
  text-align: left;
}

.features .fa {
  font-size: 40px;
  float: left;
  padding: 0 20px 0 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

div.pp_default .pp_content,
div.light_rounded .pp_content {
  background-color: #000 !important;
}

div.pp_default .pp_top .pp_left,
div.pp_default .pp_top .pp_middle,
div.pp_default .pp_top .pp_right,
div.pp_default .pp_content_container .pp_left,
div.pp_default .pp_content_container .pp_right,
div.pp_default .pp_content_container .pp_content,
div.pp_default .pp_bottom .pp_left,
div.pp_default .pp_bottom .pp_middle,
div.pp_default .pp_bottom .pp_right {
  background: none !important;
}

.journal-title {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#journal hr {
  border: 1px solid #ddd;
  margin: 30px 0;
  width: 100px;
}

.text-align--left {
  text-align: left;
}
.text-align--center {
  text-align: center;
}

.padding-bottom--15 {
  padding-bottom: 1.5rem;
}

.row {
  position: relative;
}
.row--900 {
  max-width: 900px;
}
.row--center {
  margin-left: auto;
  margin-right: auto;
}

/* # Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
  background-color: #424242;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
}

.site-footer p {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.site-footer a {
  color: #fff;
}

.site-footer a:hover {
  color: #F9302F;
}

/* Fadeup Effect
---------------------------------------------------------------------------------------------------- */
.js .fadeup-effect {
  opacity: 0;
  overflow: hidden;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1080px) {
  .front-page-2 {
    padding: 0 5%;
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .secondary-nav .site-inner {
    margin-top: 80px;
  }

  .front-page .site-inner {
    max-width: 768px;
  }

  .site-header {
    position: relative;
  }

  .front-page .site-header {
    background-color: #fff;
  }

  .front-page .site-header,
.header-image .title-area,
.header-image .site-header.scroll .title-area {
    padding-top: 0;
  }

  .front-page .site-header > .wrap {
    border: none;
  }

  .site-header .title-area,
.site-header.scroll .title-area {
    padding: 15px 0;
  }

  .header-image .scroll .site-title > a {
    height: 76px;
  }

  .genesis-nav-menu,
.site-header .widget-area,
.site-title {
    text-align: center;
  }

  .header-image .site-title > a {
    background-position: center !important;
  }

  .nav-secondary,
.site-header.scroll .nav-secondary {
    border-bottom: none;
    display: block;
  }

  .genesis-nav-menu a,
.site-header.scroll .genesis-nav-menu a {
    padding: 10px 10px 20px;
  }

  .front-page .site-inner {
    margin-top: 0;
  }

  .full-width-content .content {
    padding: 0;
  }

  .full-width-content img.pull-left {
    margin-left: 0;
  }

  .full-width-content img.pull-right {
    margin-right: 0;
  }

  .flexible-widgets.widget-full .widget,
.flexible-widgets.widget-halves .widget,
.flexible-widgets.widget-thirds .widget,
.flexible-widgets.widget-fourths .widget {
    margin: 0 auto 20px;
    width: 100%;
  }

  .front-page-1 .image-section,
.secondary-nav .front-page-1 .image-section {
    padding-top: 0;
  }

  .plan .price {
    font-size: 60px;
  }

  .plan sup {
    font-size: 30px;
    top: -0.7em;
  }

  .enews-widget input,
.front-page-2 .enews-widget input {
    width: 40%;
  }
}
@media only screen and (max-width: 960px) {
  .footer-widgets-1 .footer-widgets-2,
.footer-widgets-3 {
    margin: 0 0 30px;
  }

  .site-header .wrap {
    padding: 20px 5%;
  }

  .header-image .site-title > a {
    background-position: center top;
  }

  .genesis-nav-menu li,
.site-header ul.genesis-nav-menu,
.site-header .search-form {
    float: none;
  }

  .genesis-nav-menu,
.site-description,
.site-header .title-area,
.site-header .search-form,
.site-title {
    text-align: center;
  }

  .genesis-nav-menu a,
.genesis-nav-menu > .first > a,
.genesis-nav-menu > .last > a {
    padding: 20px 16px;
  }

  .site-header .search-form {
    margin: 16px auto;
  }

  .genesis-nav-menu li.right {
    display: none;
  }

  .features .main-img {
    padding-top: 0;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    background-color: #fff;
    font-size: 16px;
    font-size: 1.6rem;
  }

  .site-header .wrap {
    padding: 0 5%;
  }

  .site-inner,
.wrap {
    padding-left: 5%;
    padding-right: 5%;
  }

  .front-page .site-inner {
    padding: 0;
  }

  .genesis-nav-menu.responsive-menu {
    display: none;
    float: none;
    padding-bottom: 20px;
  }

  .genesis-nav-menu.responsive-menu .menu-item,
.responsive-menu-icon {
    display: block;
  }

  .genesis-nav-menu.responsive-menu .menu-item:hover {
    position: static;
  }

  .genesis-nav-menu.responsive-menu li.current-menu-item > a,
.genesis-nav-menu.responsive-menu .sub-menu li.current-menu-item > a:hover,
.genesis-nav-menu.responsive-menu li a,
.genesis-nav-menu.responsive-menu li a:hover {
    background: none;
    border: none;
    display: block;
    padding: 10px 0;
    text-transform: none;
  }

  .genesis-nav-menu.responsive-menu .menu-item-has-children {
    cursor: pointer;
  }

  .genesis-nav-menu.responsive-menu .menu-item-has-children > a {
    margin-right: 60px;
  }

  .genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
    content: "";
    float: right;
    font: normal 20px/1 "dashicons";
    height: 20px;
    padding: 7px 20px;
    right: 0;
    text-align: right;
    z-index: 9999;
  }

  .genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
    content: "";
  }

  .genesis-nav-menu.responsive-menu > .menu-item > .sub-menu {
    display: none;
  }

  .genesis-nav-menu.responsive-menu .sub-menu {
    background-color: rgba(255, 255, 255, 0.05);
    left: auto;
    opacity: 1;
    position: relative;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 100%;
    z-index: 99;
  }

  .genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
    background-color: transparent;
    margin: 0;
    padding-left: 25px;
  }

  .genesis-nav-menu.responsive-menu .sub-menu li a,
.genesis-nav-menu.responsive-menu .sub-menu li a:hover {
    padding: 10px 0;
    position: relative;
    text-transform: none;
    width: 100%;
  }

  .genesis-nav-menu.responsive-menu .current-menu-item > a,
.genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu.responsive-menu > li.menu-item-has-children:hover > a,
.genesis-nav-menu.responsive-menu a:hover {
    background: none;
  }

  .archive-description,
.author-box,
.comment-respond,
.entry,
.entry-comments,
.entry-pings,
.sidebar .widget,
.site-header {
    padding: 0;
  }

  .archive-pagination li a {
    margin-bottom: 4px;
  }

  .five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
    margin: 0 0 40px;
    width: 100%;
  }

  .sidebar .widget.enews-widget {
    padding: 40px;
  }

  .front-page-1 {
    height: auto;
    padding: 10% 0;
  }

  .home-mid .wrap {
    padding: 0;
  }

  .home-mid-left {
    margin-top: 120px;
    width: 100%;
  }

  .home-mid-left .wrap {
    padding-left: 5%;
    padding-right: 5%;
  }

  .home-mid-right {
    margin-top: 80px;
    padding: 120px 0;
    width: 100%;
  }

  .home-mid-right .wrap {
    padding-left: 5%;
    padding-right: 5%;
  }

  .home-mid-right h4 {
    font-size: 30px;
    font-size: 3rem;
  }

  .front-page-10 .flexible-widgets {
    padding: 60px 0;
  }

  .fp-left,
.fp-right,
.fp-left2,
.fp-right2 {
    clear: both;
    text-align: center;
    width: 100%;
  }

  .fp-left,
.fp-right2 {
    margin: 40px 0 0;
    min-height: auto;
  }

  .fp-left2 {
    min-height: 300px;
  }

  .fp-right {
    margin-top: 40px;
    min-height: auto;
  }

  .fp-left2 img,
.fp-right img {
    position: relative;
    max-width: 100%;
  }

  .leftrow,
.rightrow {
    clear: both;
    text-align: center;
    width: 100%;
  }

  .home .content ol,
.home .content ul {
    margin-left: 0;
  }

  .home .content ul > li {
    list-style-type: none;
  }
}
@media only screen and (max-width: 760px) {
  .front-page-2 form {
    background: none;
  }

  .plan {
    float: none;
    margin: 0 auto 40px;
    width: 90%;
  }

  .popular {
    transform: none;
    -webkit-transform: none;
  }

  .content .portfolio {
    width: 48%;
  }

  .portfolio-clear {
    clear: both;
  }

  .portfolio-clear-2 {
    clear: none;
  }

  .content .portfolio .post-image {
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .front-page-1,
.front-page-4,
.front-page-5,
.front-page-7,
.front-page-9,
.front-page-12 {
    background-size: cover;
  }
}
@media only screen and (max-width: 550px) {
  .image-section h4,
.solid-section h4 {
    font-size: 34px;
    font-size: 3.4rem;
    margin-bottom: 20px;
  }

  .front-page-2 .image-section h4 {
    font-size: 24px;
    font-size: 2.4rem;
  }

  .enews-widget input,
.front-page-2 .enews-widget input {
    width: 100%;
  }

  .content .portfolio {
    text-align: center;
    width: 100%;
  }

  .content .portfolio .post-image {
    width: 100%;
  }

  .content .portfolio .more-link {
    margin: 20px auto 0;
    padding: 6px;
    width: 60%;
  }

  .left-content,
.right-content {
    text-align: center;
    width: 100%;
  }

  .left-content .fa,
.right-content .fa {
    padding: 20px;
  }
}
/* # Print Styles
---------------------------------------------------------------------------------------------------- */
@media print {
  *,
*:before,
*:after {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after,
a[href^="#"]:after,
.site-title > a:after {
    content: "";
  }

  thead {
    display: table-header-group;
  }

  img,
tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 2cm 0.5cm;
  }
  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  blockquote,
pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  .content,
.content-sidebar {
    width: 100%;
  }

  button,
input,
select,
textarea,
.breadcrumb,
.comment-edit-link,
.comment-form,
.comment-list .reply a,
.comment-reply-title,
.edit-link,
.entry-comments-link,
.entry-footer,
.genesis-box,
.header-widget-area,
.hidden-print,
.home-top,
.nav-primary,
.nav-secondary,
.post-edit-link,
.sidebar {
    display: none !important;
  }

  .title-area {
    text-align: center;
    width: 100%;
  }

  .site-title > a {
    margin: 0;
    text-decoration: none;
    text-indent: 0;
  }

  .site-inner {
    padding-top: 0;
    position: relative;
    top: -100px;
  }

  .author-box {
    margin-bottom: 0;
  }

  h1,
h2,
h3,
h4,
h5,
h6 {
    orphans: 3;
    page-break-after: avoid;
    page-break-inside: avoid;
    widows: 3;
  }

  img {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  blockquote,
pre,
table {
    page-break-inside: avoid;
  }

  dl,
ol,
ul {
    page-break-before: avoid;
  }
}

/*# sourceMappingURL=style.css.map */
