.nicabm_program-template .site-inner {
    margin-top: 0;
    max-width: none;
    padding: 0;
}

.sales-page__section {
    background-size: cover;
    background-position: center center;

    &--padding {
        &-normal {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
        &-less {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        &-more {
            padding-top: 10rem;
            padding-bottom: 10rem;
        }
    }

    &--image-spacer {
        background-attachment: fixed;
        height: 300px;
    }
}

.row {
    &__content {
        &--padding {
            &-normal {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
            &-less {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
            &-more {
                padding-top: 4rem;
                padding-bottom: 4rem;
            }
            &-none {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}

.nicabm-instructors {
    max-height: 430px;
    overflow-y: scroll;
}

.nicabm-testimonials {
    margin-bottom: 2rem;
}

.nicabm-table {
    &__row {
        &:nth-child(odd) {
            background-color: #F0F0F0;
        }

        &:nth-child(even) {
            background-color: #e0e0e0;
        }

        td {
            border: 4px solid #ffffff;
            padding: 1rem;
        }
    }

    &__mark {
        display: none;

        @media only screen and (min-width: 800px) {
            display: table-cell;

            img {
                width: 2.5rem;
            }
        }
    }
}
